
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Components
@import 'components/navbar';
@import 'components/content';
@import 'utils';
@import 'components/posts';
@import 'components/researches';
@import 'components/buttons';
@import 'text';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*{
  color: $font-weight-base;
}
