.clickable{
  cursor: pointer;
}

.w-fit{
  width:fit-content;
}
.h-fit{
  height:fit-content;
}

.link-no-style{
  color:$font-color;
}
.link-no-style:hover{
  color:initial;
  text-decoration: none;
}