.about-lrima{
  img{
    max-width:100%;
  }
}

.post_creation_date{
  line-height:1.3em;
}
.post_metadata{
  display:flex;
  justify-content: space-between;
  div{
    line-height:10px;
    display:inline;
  }
}
.post_title{
  margin-right:20px;
}
.like-box, .nb-likes{
  font-size:1.7em;
  font-weight:bold;
  margin-right:10px;


}
.thumbs-up.clicked:before{
  color:$primary-color !important;
}

.comment-container{
  background-color: #f7f7f7;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  width:80%;

  .comment-header{
    div{
      display:inline-block;
    }
    .comment-header-date{
      margin-right:10px;
    }

  }
}